.review
	.review-rating{"data-score" => "#{review.rating}"}
	%p= content_with_emoji(review.comment)
	.round-image-50
		%b= image_tag(review.user.avatar(:thumb))
	- if user_signed_in?
		- if review.user_id == current_user.id
			= link_to "Edit", edit_post_review_path(review.post, review)
			= link_to "Delete", post_review_path(review.post, review), method: :delete  		
	%br

